/vendor/
/node_modules/
/.tools/
/.local/
/.env
/.env.*
!/.env.example
/.phpunit.cache/
/.phpunit.result.cache
/auth.json
/database/*.sqlite*
/public/storage
/public/hot
/public/build/
/tests/planning-test.pdf
/storage/*.key
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
